In [106]:
import numpy as np
import os
import pandas as pd
import pandas as pd
from pandas import json_normalize
import ast
import json
import re
import yaml

In [110]:
t7_drive = '/media/ak/T7/August11th2022Experiments/'
infoClockFolders = 'InfoClockDataFrames'
mmdOutputFiles = 'LinearMMDOutputFiles'
mmdOutputLoc = os.path.join(t7_drive, mmdOutputFiles)
os.listdir(mmdOutputFilesLoc)

['G_1_dollar_processedLinearMMDresults_alpha.pickle',
 'XM1_dollar_processedLinearMMDresults_alpha.pickle',
 'G_1_calendar_processedLinearMMDresults_alpha.pickle',
 'G_1_volume_processedLinearMMDresults_alpha.pickle',
 'G_1_tick_processedLinearMMDresults_alpha.pickle',
 'XM1_volume_processedLinearMMDresults_tau.pickle',
 'XM1_dollar_processedLinearMMDresults_tau.pickle',
 'April20th2023Results']

In [111]:
def parse_string_to_dict(s):
    s = re.sub(r"(\w+):", r'"\1":', s)  # Add quotes around keys
    s = s.replace("'", '"')  # Replace single quotes with double quotes
    return json.loads(s)  # Parse the resulting JSON string

In [112]:


def split_nan(df):
    """
    Splits a Pandas DataFrame into two separate DataFrames,
    one containing the NaN values and the other containing
    the non-NaN values.
    """
    # create a boolean mask that flags all NaN values as True
    mask = df.isna()

    # split the DataFrame into two separate DataFrames using boolean indexing
    nan_df = df[mask]
    non_nan_df = df[~mask]

    return nan_df, non_nan_df

In [113]:
mmdOutputFilesLoc = os.path.join(t7_drive, mmdOutputFiles)

In [121]:
csvfiles = os.listdir(mmdOutputFilesLoc)
csvfiles

['G_1_dollar_processedLinearMMDresults_alpha.pickle',
 'XM1_dollar_processedLinearMMDresults_alpha.pickle',
 'G_1_calendar_processedLinearMMDresults_alpha.pickle',
 'G_1_volume_processedLinearMMDresults_alpha.pickle',
 'G_1_tick_processedLinearMMDresults_alpha.pickle',
 'XM1_volume_processedLinearMMDresults_tau.pickle',
 'XM1_dollar_processedLinearMMDresults_tau.pickle',
 'April20th2023Results']

In [122]:
volumefile = os.path.join(mmdOutputFilesLoc, 'G_1_volume_processedLinearMMDresults_alpha.pickle')
tickfile = os.path.join(mmdOutputFilesLoc, 'G_1_tick_processedLinearMMDresults_alpha.pickle')
calendarfile = os.path.join(mmdOutputFilesLoc, 'G_1_calendar_processedLinearMMDresults_alpha.pickle')
dollarfile = os.path.join(mmdOutputFilesLoc, 'G_1_dollar_processedLinearMMDresults_alpha.pickle')

In [123]:
df= pd.read_pickle(dollarfile)

In [124]:
df = pd.DataFrame(df)

In [125]:
df = df.set_index(['Column Pair', 'Window', 'Shift'])

In [126]:
def fix_string_issues(s):
    s = s.replace("array(", "[")
    s = s.replace(", dtype=float64)", "]")
    s = s.replace(", 'besti'", "], 'besti'")
    s = re.sub(r"(\w+):", r'"\1":', s)  # Add quotes around keys
    s = s.replace("'", '"')  # Replace single quotes with double quotes
    s = s.replace("],]", "]]")  # Fix the remaining issue
    return s

In [127]:
def fix_string_issues(s):
    s = s.replace("array(", "[")
    s = s.replace(", dtype=float64)", "]")
    s = re.sub(r"(\w+):", r'"\1":', s)  # Add quotes around keys
    s = s.replace("'", '"')  # Replace single quotes with double quotes
    return s

def fix_and_parse_json(s):
    s = re.sub(r'\s+', ' ', s)  # Replace newline characters and extra spaces with single spaces
    s = re.sub(r'] ({)', r'], \1', s)  # Add missing comma between key-value pairs
    try:
        return json.loads(s)
    except json.JSONDecodeError as e:
        print(f"Error parsing: {s}")
        raise e

In [128]:
# df['Test Results 1'] = df['Test Results 1'].apply(fix_and_parse_json)
# df['Test Results 2'] = df['Test Results 2'].apply(fix_and_parse_json)
csvfile

'/media/ak/T7/August11th2022Experiments/LinearMMDOutputFiles/G_1_volume_processedLinearMMDresults_alpha.pickle'

In [129]:
import pickle
import pandas as pd
import numpy as np

# Load the pickle file
with open(str(dollarfile), "rb") as f:
    result_list = pickle.load(f)

# Convert the result_list to a DataFrame
df = pd.DataFrame(result_list)

In [130]:
df

,Column Pair,Window,Shift,Test Results 1,Test Results 2
0,0 vs 2,window=5,shift=1,"{'widths': [0.29986294651194817, 0.33658477715...","{'test_result': {'alpha': 0.01, 'pvalue': 0.00..."
1,0 vs 2,window=10,shift=1,"{'widths': [0.29986294651194817, 0.33658477715...","{'test_result': {'alpha': 0.01, 'pvalue': 0.00..."
2,0 vs 2,window=15,shift=1,"{'widths': [0.29986294651194817, 0.33658477715...","{'test_result': {'alpha': 0.01, 'pvalue': 2.27..."
3,0 vs 2,window=20,shift=1,"{'widths': [0.29986294651194817, 0.33658477715...","{'test_result': {'alpha': 0.01, 'pvalue': nan,..."
4,0 vs 2,window=25,shift=1,"{'widths': [0.29986294651194817, 0.33658477715...","{'test_result': {'alpha': 0.01, 'pvalue': nan,..."
...,...,...,...,...,...
763,28 vs 34,window=5,shift=5,"{'widths': [0.29435524264063007, 0.33040258858...","{'test_result': {'alpha': 0.01, 'pvalue': 1.75..."
764,28 vs 32,window=5,shift=2,"{'widths': [0.46708393285982813, 0.52428398801...","{'test_result': {'alpha': 0.01, 'pvalue': 5.75..."
765,28 vs 33,window=5,shift=3,"{'widths': [0.44206131703666074, 0.49619705139...","{'test_result': {'alpha': 0.01, 'pvalue': nan,..."
766,29 vs 31,window=5,shift=1,"{'widths': [0.2964712614028249, 0.332777739339...","{'test_result': {'alpha': 0.01, 'pvalue': 4.93..."
767,29 vs 34,window=5,shift=4,"{'widths': [0.2972241296734027, 0.333622805400...","{'test_result': {'alpha': 0.01, 'pvalue': nan,..."

In [22]:
print(df['Test Results 1'][0])

{'widths': [0.3127758084013007, 0.35107897455974396, 0.39407282490268447, 0.44233179022332814, 0.49650064728642873, 0.5573031335400543, 0.6255516168026014, 0.7021579491194878, 0.7881456498053689, 0.8846635804466563, 0.9930012945728575, 1.1146062670801087, 1.2511032336052028, 1.4043158982389756, 1.5762912996107377, 1.7693271608933125, 1.986002589145715, 2.229212534160217, 2.5022064672104056, 2.8086317964779512, 3.1525825992214753, 3.538654321786625, 3.97200517829143, 4.458425068320434, 5.004412934420811], 'med': 0.3127758084013007, 'besti': 24, 'powers': array([0.92303857, 0.92347337, 0.92381611, 0.92408662, 0.92430036,
       0.92446937, 0.92460312, 0.92470902, 0.92479292, 0.92485941,
       0.92491211, 0.9249539 , 0.92498705, 0.92501334, 0.9250342 ,
       0.92505074, 0.92506387, 0.92507429, 0.92508256, 0.92508912,
       0.92509433, 0.92509846, 0.92510174, 0.92510434, 0.92510641]), 'med_on_test_data': 0.2761801866119382, 'test_result': {'alpha': 0.01, 'pvalue': 3.77273689349796e-06, 'test_stat': 0.000278039412575475, 'h0_rejected': True}, 'test_variance': -3.3229695550589725e-09, 'two_moments': (0.000278039412575475, 1.330220372363847e-07), 'compute_unbiased_linear_estimator': 0.000278039412575475}

In [131]:
# Extract relevant data from the nested dictionaries
df['alpha_1'] = df['Test Results 1'].apply(lambda x: x['test_result']['alpha'])
df['pvalue_1'] = df['Test Results 1'].apply(lambda x: x['test_result']['pvalue'])
df['test_stat_1'] = df['Test Results 1'].apply(lambda x: x['test_result']['test_stat'])
df['h0_rejected_1'] = df['Test Results 1'].apply(lambda x: x['test_result']['h0_rejected'])

df['alpha_2'] = df['Test Results 2'].apply(lambda x: x['test_result']['alpha'])
df['pvalue_2'] = df['Test Results 2'].apply(lambda x: x['test_result']['pvalue'])
df['test_stat_2'] = df['Test Results 2'].apply(lambda x: x['test_result']['test_stat'])
df['h0_rejected_2'] = df['Test Results 2'].apply(lambda x: x['test_result']['h0_rejected'])

# Drop unnecessary columns
df = df.drop(columns=['Test Results 1', 'Test Results 2'])

# Print the DataFrame
print(df.head())

  Column Pair     Window    Shift  alpha_1  pvalue_1  test_stat_1  \
0      0 vs 2   window=5  shift=1     0.01  0.000790     0.038601
1      0 vs 2  window=10  shift=1     0.01  0.001945     0.044413
2      0 vs 2  window=15  shift=1     0.01  0.000030     0.277336
3      0 vs 2  window=20  shift=1     0.01       NaN          NaN
4      0 vs 2  window=25  shift=1     0.01       NaN          NaN

   h0_rejected_1  alpha_2  pvalue_2  test_stat_2  h0_rejected_2
0           True     0.01  0.000221     0.041351           True
1           True     0.01  0.000810     0.046395           True
2           True     0.01  0.000023     0.281953           True
3          False     0.01       NaN          NaN          False
4          False     0.01       NaN          NaN          False

In [132]:
num_nans = df.isna().sum().sum()

print(f'The DataFrame contains {num_nans} NaN values.')

The DataFrame contains 2416 NaN values.

In [133]:
# create a boolean mask that flags all NaN values as True
mask = df.isna()

# split the DataFrame into two separate DataFrames using boolean indexing
nan_df = df[mask]
non_nan_df = df[~mask]

print('NaN DataFrame:')
print(nan_df)

print('\nNon-NaN DataFrame:')
print(non_nan_df)

NaN DataFrame:
    Column Pair Window Shift  alpha_1  pvalue_1  test_stat_1  h0_rejected_1  \
0           NaN    NaN   NaN      NaN       NaN          NaN            NaN
1           NaN    NaN   NaN      NaN       NaN          NaN            NaN
2           NaN    NaN   NaN      NaN       NaN          NaN            NaN
3           NaN    NaN   NaN      NaN       NaN          NaN            NaN
4           NaN    NaN   NaN      NaN       NaN          NaN            NaN
..          ...    ...   ...      ...       ...          ...            ...
763         NaN    NaN   NaN      NaN       NaN          NaN            NaN
764         NaN    NaN   NaN      NaN       NaN          NaN            NaN
765         NaN    NaN   NaN      NaN       NaN          NaN            NaN
766         NaN    NaN   NaN      NaN       NaN          NaN            NaN
767         NaN    NaN   NaN      NaN       NaN          NaN            NaN

     alpha_2  pvalue_2  test_stat_2  h0_rejected_2
0        NaN       NaN          NaN            NaN
1        NaN       NaN          NaN            NaN
2        NaN       NaN          NaN            NaN
3        NaN       NaN          NaN            NaN
4        NaN       NaN          NaN            NaN
..       ...       ...          ...            ...
763      NaN       NaN          NaN            NaN
764      NaN       NaN          NaN            NaN
765      NaN       NaN          NaN            NaN
766      NaN       NaN          NaN            NaN
767      NaN       NaN          NaN            NaN

[768 rows x 11 columns]

Non-NaN DataFrame:
    Column Pair     Window    Shift  alpha_1  pvalue_1  test_stat_1  \
0        0 vs 2   window=5  shift=1     0.01  0.000790     0.038601
1        0 vs 2  window=10  shift=1     0.01  0.001945     0.044413
2        0 vs 2  window=15  shift=1     0.01  0.000030     0.277336
3        0 vs 2  window=20  shift=1     0.01       NaN          NaN
4        0 vs 2  window=25  shift=1     0.01       NaN          NaN
..          ...        ...      ...      ...       ...          ...
763    28 vs 34   window=5  shift=5     0.01  0.001276     0.000376
764    28 vs 32   window=5  shift=2     0.01  0.000006     0.000241
765    28 vs 33   window=5  shift=3     0.01  0.000006     0.000269
766    29 vs 31   window=5  shift=1     0.01  0.000006     0.141476
767    29 vs 34   window=5  shift=4     0.01  0.000006     0.000594

     h0_rejected_1  alpha_2      pvalue_2  test_stat_2  h0_rejected_2
0             True     0.01  2.210342e-04     0.041351           True
1             True     0.01  8.101529e-04     0.046395           True
2             True     0.01  2.270469e-05     0.281953           True
3            False     0.01           NaN          NaN          False
4            False     0.01           NaN          NaN          False
..             ...      ...           ...          ...            ...
763           True     0.01  1.757873e-05     0.095389           True
764           True     0.01  5.757287e-06     0.000177           True
765           True     0.01           NaN     0.000000          False
766           True     0.01  4.939453e-07     0.013717           True
767           True     0.01           NaN     0.000000          False

[768 rows x 11 columns]

In [134]:
# Group by 'Column Pair' and 'Window' and calculate the mean p-value and proportion of H0 rejected
summary_table = non_nan_df.groupby(['Column Pair', 'Window']).agg({
    'pvalue_1': 'mean',
    'h0_rejected_1': 'mean',
    'pvalue_2': 'mean',
    'h0_rejected_2': 'mean'
}).reset_index()

# Format column names
summary_table.columns = [
    'Column Pair', 'Window',
    'Mean P-Value 1', 'Proportion H0 Rejected 1',
    'Mean P-Value 2', 'Proportion H0 Rejected 2'
]

# Round the values for better readability
summary_table = summary_table.round(4)

# Display the summary table
print(summary_table)

    Column Pair     Window  Mean P-Value 1  Proportion H0 Rejected 1  \
0       0 vs 10  window=10             0.0                      True
1       0 vs 10  window=15             NaN                     False
2       0 vs 10  window=20             NaN                     False
3       0 vs 10  window=25             NaN                     False
4       0 vs 10  window=30             0.0                      True
..          ...        ...             ...                       ...
763     9 vs 25  window=15             NaN                     False
764     9 vs 25   window=5             NaN                     False
765     9 vs 27  window=10             NaN                     False
766     9 vs 27  window=15             NaN                     False
767     9 vs 27   window=5             NaN                     False

     Mean P-Value 2  Proportion H0 Rejected 2
0               NaN                     False
1               NaN                     False
2               NaN                     False
3               NaN                     False
4               0.0                      True
..              ...                       ...
763             NaN                     False
764             NaN                     False
765             NaN                     False
766             NaN                     False
767             NaN                     False

[768 rows x 6 columns]

In [135]:
_, nonnan = split_nan(non_nan_df)

In [136]:
_, non_nan_final = split_nan(nonnan)

In [137]:
non_nan_final

,Column Pair,Window,Shift,alpha_1,pvalue_1,test_stat_1,h0_rejected_1,alpha_2,pvalue_2,test_stat_2,h0_rejected_2
0,0 vs 2,window=5,shift=1,0.01,0.000790,0.038601,True,0.01,2.210342e-04,0.041351,True
1,0 vs 2,window=10,shift=1,0.01,0.001945,0.044413,True,0.01,8.101529e-04,0.046395,True
2,0 vs 2,window=15,shift=1,0.01,0.000030,0.277336,True,0.01,2.270469e-05,0.281953,True
3,0 vs 2,window=20,shift=1,0.01,NaN,NaN,False,0.01,NaN,NaN,False
4,0 vs 2,window=25,shift=1,0.01,NaN,NaN,False,0.01,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...
763,28 vs 34,window=5,shift=5,0.01,0.001276,0.000376,True,0.01,1.757873e-05,0.095389,True
764,28 vs 32,window=5,shift=2,0.01,0.000006,0.000241,True,0.01,5.757287e-06,0.000177,True
765,28 vs 33,window=5,shift=3,0.01,0.000006,0.000269,True,0.01,NaN,0.000000,False
766,29 vs 31,window=5,shift=1,0.01,0.000006,0.141476,True,0.01,4.939453e-07,0.013717,True
767,29 vs 34,window=5,shift=4,0.01,0.000006,0.000594,True,0.01,NaN,0.000000,False

In [157]:
# remove "Window" and "Shift" from the entries and convert to float
def remove_strings(df):
    df['Window'] = df['Window'].str.replace('window=', '').astype(float)
    df['Shift'] = df['Shift'].str.replace('shift=', '').astype(float)
    return df

In [158]:
non_nan_final

,Column Pair,Window,Shift,alpha_1,pvalue_1,test_stat_1,h0_rejected_1,alpha_2,pvalue_2,test_stat_2,h0_rejected_2
0,0 vs 2,window=5,shift=1,0.01,0.000790,0.038601,True,0.01,2.210342e-04,0.041351,True
1,0 vs 2,window=10,shift=1,0.01,0.001945,0.044413,True,0.01,8.101529e-04,0.046395,True
2,0 vs 2,window=15,shift=1,0.01,0.000030,0.277336,True,0.01,2.270469e-05,0.281953,True
3,0 vs 2,window=20,shift=1,0.01,NaN,NaN,False,0.01,NaN,NaN,False
4,0 vs 2,window=25,shift=1,0.01,NaN,NaN,False,0.01,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...
763,28 vs 34,window=5,shift=5,0.01,0.001276,0.000376,True,0.01,1.757873e-05,0.095389,True
764,28 vs 32,window=5,shift=2,0.01,0.000006,0.000241,True,0.01,5.757287e-06,0.000177,True
765,28 vs 33,window=5,shift=3,0.01,0.000006,0.000269,True,0.01,NaN,0.000000,False
766,29 vs 31,window=5,shift=1,0.01,0.000006,0.141476,True,0.01,4.939453e-07,0.013717,True
767,29 vs 34,window=5,shift=4,0.01,0.000006,0.000594,True,0.01,NaN,0.000000,False

In [159]:


def calculate_median_table(df):
    # calculate median values of pvalue_1, test_stat_1, h0_rejected_1,
    # pvalue_2, test_stat_2, and h0_rejected_2 for each group
    median_df = df.groupby(['Column Pair', 'Window', 'Shift']).agg(
        pvalue_1_median=('pvalue_1', 'median'),
        test_stat_1_median=('test_stat_1', 'median'),
        h0_rejected_1_pct=('h0_rejected_1', lambda x: np.mean(x == True) * 100),
        pvalue_2_median=('pvalue_2', 'median'),
        test_stat_2_median=('test_stat_2', 'median'),
        h0_rejected_2_pct=('h0_rejected_2', lambda x: np.mean(x == True) * 100),
    ).reset_index()

    # separate the table into two tables, one for h0_rejected_1 and one for h0_rejected_2
    table1 = median_df[['Column Pair', 'Window', 'Shift', 'h0_rejected_1_pct', 'pvalue_1_median', 'test_stat_1_median']]
    table2 = median_df[['Column Pair', 'Window', 'Shift', 'h0_rejected_2_pct', 'pvalue_2_median', 'test_stat_2_median']]

    return table1, table2

In [160]:
tab1, tab2 =calculate_median_table(non_nan_final)

In [161]:

def calculate_median_by_h0_rejected(df):
    # split the DataFrame into two separate DataFrames based on h0_rejected_1 value
    true_df = df[df['h0_rejected_1'] == True]
    false_df = df[df['h0_rejected_1'] == False]

    # calculate median values of pvalue_1, test_stat_1, pvalue_2, and test_stat_2 for each group
    true_median_df = true_df[['pvalue_1', 'test_stat_1', 'pvalue_2', 'test_stat_2']].median().to_frame().T
    true_median_df['h0_rejected_1'] = True
    true_pct = len(true_df) / len(df) * 100
    true_median_df['Percentage'] = true_pct

    false_median_df = false_df[['pvalue_1', 'test_stat_1', 'pvalue_2', 'test_stat_2']].median().to_frame().T
    false_median_df['h0_rejected_1'] = False
    false_pct = len(false_df) / len(df) * 100
    false_median_df['Percentage'] = false_pct

    return true_median_df, false_median_df

In [162]:
true_median_df, false_median_df = calculate_median_by_h0_rejected(df)

In [163]:
true_median_df

   pvalue_1  test_stat_1  pvalue_2  test_stat_2  h0_rejected_1  Percentage
0  0.000005     0.031725  0.000005     0.059716           True    22.65625

In [164]:
false_median_df

   pvalue_1  test_stat_1  pvalue_2  test_stat_2  h0_rejected_1  Percentage
0       NaN          NaN  0.000002      0.00971          False    77.34375

In [165]:
def calculate_median_by_h0_rejected(df):
    # split the DataFrame into two separate DataFrames based on h0_rejected_1 value
    true_df = df[df['h0_rejected_1'] == True]
    false_df = df[df['h0_rejected_1'] == False]

    # calculate median values of pvalue_1, test_stat_1, pvalue_2, and test_stat_2 for each group
    true_median_df = true_df[['pvalue_1', 'test_stat_1', 'pvalue_2', 'test_stat_2']].median().to_frame().T
    true_median_df['h0_rejected_1'] = True
    true_pct = len(true_df) / len(df) * 100
    true_median_df['Percentage'] = true_pct
    true_median_df['Median Window'] = true_df['Window'].median()
    true_median_df['Median Shift'] = true_df['Shift'].median()

    false_median_df = false_df[['pvalue_1', 'test_stat_1', 'pvalue_2', 'test_stat_2']].median().to_frame().T
    false_median_df['h0_rejected_1'] = False
    false_pct = len(false_df) / len(df) * 100
    false_median_df['Percentage'] = false_pct
    false_median_df['Median Window'] = false_df['Window'].median()
    false_median_df['Median Shift'] = false_df['Shift'].median()

    return true_median_df, false_median_df

In [166]:
true_df =df[df['h0_rejected_1'] == True]

In [167]:
    # calculate median values of pvalue_1, test_stat_1, pvalue_2, and test_stat_2 for each group
    true_median_df = true_df[['pvalue_1', 'test_stat_1', 'pvalue_2', 'test_stat_2']].median().to_frame().T
    true_median_df['h0_rejected_1'] = True
    true_pct = len(true_df) / len(df) * 100
    true_median_df['Percentage'] = true_pct

In [168]:
true_df = remove_strings(true_df)

AttributeError: Can only use .str accessor with string values!

In [169]:
true_median_df['Median Window'] = true_df['Window'].median()
true_median_df['Median Shift'] = true_df['Shift'].median()

In [170]:
true_median_df

,pvalue_1,test_stat_1,pvalue_2,test_stat_2,h0_rejected_1,Percentage,Median Window,Median Shift
0,0.000005,0.031725,0.000005,0.059716,True,22.65625,10.0,3.0

In [171]:
df = remove_strings(df)

AttributeError: Can only use .str accessor with string values!

In [153]:
true_median_df, false_median_df = calculate_median_by_h0_rejected(df)

In [154]:
true_median_df

,pvalue_1,test_stat_1,pvalue_2,test_stat_2,h0_rejected_1,Percentage,Median Window,Median Shift
0,0.000005,0.031725,0.000005,0.059716,True,22.65625,10.0,3.0

In [155]:
false_median_df

,pvalue_1,test_stat_1,pvalue_2,test_stat_2,h0_rejected_1,Percentage,Median Window,Median Shift
0,NaN,NaN,0.000002,0.00971,False,77.34375,10.0,5.0

In [156]:
df[df['h0_rejected_1'] == False]

,Column Pair,Window,Shift,alpha_1,pvalue_1,test_stat_1,h0_rejected_1,alpha_2,pvalue_2,test_stat_2,h0_rejected_2
3,0 vs 2,20.0,1.0,0.01,NaN,NaN,False,0.01,NaN,NaN,False
4,0 vs 2,25.0,1.0,0.01,NaN,NaN,False,0.01,NaN,NaN,False
8,0 vs 4,15.0,2.0,0.01,NaN,NaN,False,0.01,NaN,NaN,False
9,0 vs 4,20.0,2.0,0.01,NaN,NaN,False,0.01,NaN,NaN,False
10,0 vs 4,25.0,2.0,0.01,NaN,NaN,False,0.01,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...
757,26 vs 32,5.0,3.0,0.01,NaN,NaN,False,0.01,8.929674e-07,0.020423,True
758,27 vs 29,5.0,1.0,0.01,NaN,NaN,False,0.01,7.345865e-04,0.000291,True
759,27 vs 34,5.0,6.0,0.01,NaN,NaN,False,0.01,3.199843e-06,0.010820,True
760,27 vs 31,5.0,2.0,0.01,NaN,NaN,False,0.01,5.035069e-06,0.011782,True
761,27 vs 33,5.0,4.0,0.01,NaN,NaN,False,0.01,5.759855e-06,0.009816,True